@tailwind base;
@tailwind components;
@tailwind utilities;

@layer tailwind-base, antd;

/* @import 'antd/dist/antd.css'; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.needs-section-swiper {
  @apply !pb-[40px] !ml-[-15px] !pl-[15px] !pr-[15px] !mr-[-15px];
}

.needs-section-swiper .swiper-button-prev,
.needs-section-swiper .swiper-button-next {
  @apply bg-white w-[40px] h-[40px] rounded-full text-[30px] translate-y-[-20px];
}

.needs-section-swiper .swiper-button-prev {
  @apply left-0;
}

.needs-section-swiper .swiper-button-next {
  @apply right-0;
}

.needs-section-swiper .swiper-button-prev,
.needs-section-swiper .swiper-button-next {
  @apply bg-white w-[40px] h-[40px] rounded-full text-[30px] shadow-lg;
}

.needs-section-swiper .swiper-button-prev::after,
.needs-section-swiper .swiper-button-next::after {
  @apply text-[20px] text-black font-bold;
}